@model WebApplication4.Models.SomeCreateModel

<h2>title</h2>
@using(Html.BeginForm()){
    <div>
        @Html.LabelFor(o=>o.Name)
        @Html.TextBoxFor(o => o.Name)
        @Html.ValidationMessageFor(o => o.Name)
    </div>
    <div>
        @Html.LabelFor(o=>o.Value)
        @Html.TextBoxFor(o => o.Value)
        @Html.ValidationMessageFor(o => o.Value)
    </div>
<button type="submit">OK</button>
}